.keep {
    --bs-table-accent-bg: rgba(0, 255, 0, .5) !important;
}

.sell {
    --bs-table-accent-bg: rgba(255, 0, 0, .5) !important;
}

.powerup {
    --bs-table-accent-bg: rgba(255, 255, 0, 0.5) !important;
}