<p>options works!</p>
<form [formGroup]="optionsForm" (ngSubmit)="submit()">


    <label>Rune Quality</label>
    <select formControlName="level">
        <option [ngValue]="null" disabled>Select Level</option>
        <option *ngFor="let a of levels" [ngValue]="a.id">{{a.name}}</option>
    </select>
    <label>Broken Runes</label>
    <select formControlName="brokenRunes">
        <option [ngValue]="null" disabled>Select Broken runes</option>
        <option *ngFor="let a of brokenRunes" [ngValue]="a.id">{{a.name}}</option>
    </select>
    <label>Power Up Policy</label>
    <select formControlName="powerUp">
        <option [ngValue]="null" disabled>Select power up</option>
        <option *ngFor="let a of powerUp" [ngValue]="a.id">{{a.name}}</option>
    </select>
    <label>Gems/Grinds</label>
    <select formControlName="gemGrind">
        <option [ngValue]="null" disabled>Select power up</option>
        <option *ngFor="let a of gemGrind" [ngValue]="a.id">{{a.name}}</option>
    </select>
    <br />
    <h5>Preset Focus(+3/-3)</h5><br />
    +: Keep more<br />
    -: Sell more<br />
    <label>Fast DD</label>
    <select formControlName="FastDD">
        <option [ngValue]="null" disabled>Select preset</option>
        <option *ngFor="let a of presetValues" [ngValue]="a.id">{{a.id}}</option>
    </select>
    <label>Slow DD</label>
    <select formControlName="SlowDD">
        <option [ngValue]="null" disabled>Select power up</option>
        <option *ngFor="let a of presetValues" [ngValue]="a.id">{{a.id}}</option>
    </select>
    <label>Def DD</label>
    <select formControlName="DefDD">
        <option [ngValue]="null" disabled>Select power up</option>
        <option *ngFor="let a of presetValues" [ngValue]="a.id">{{a.id}}</option>
    </select>
    <br />
    <label>Bomber</label>
    <select formControlName="Bomber">
        <option [ngValue]="null" disabled>Select power up</option>
        <option *ngFor="let a of presetValues" [ngValue]="a.id">{{a.id}}</option>
    </select>
    <label>Support</label>
    <select formControlName="Support">
        <option [ngValue]="null" disabled>Select power up</option>
        <option *ngFor="let a of presetValues" [ngValue]="a.id">{{a.id}}</option>
    </select>
    <label>PvP Def</label>
    <select formControlName="PvPDef">
        <option [ngValue]="null" disabled>Select power up</option>
        <option *ngFor="let a of presetValues" [ngValue]="a.id">{{a.id}}</option>
    </select>
    <label>Bruiser</label>
    <select formControlName="Bruiser">
        <option [ngValue]="null" disabled>Select power up</option>
        <option *ngFor="let a of presetValues" [ngValue]="a.id">{{a.id}}</option>
    </select>

    <button type="submit">Submit</button>

</form>