<div class="sw-container container">
    <form [formGroup]="optionsForm" (ngSubmit)="submit()">
        <div class="mb-3 row">
            <div class="col-xs-3 col-sm-auto">
                <label>Rune Quality</label>
                <select class="form-select" formControlName="level">
                    <option [ngValue]="null" disabled>Select Level</option>
                    <option *ngFor="let a of levels" [ngValue]="a.id">{{a.name}}</option>
                </select>
            </div>

            <div class="col-xs-3 col-sm-auto">
                <label>Power Up Policy</label>
                <select class="form-select" formControlName="powerUp">
                    <option [ngValue]="null" disabled>Select power up</option>
                    <option *ngFor="let a of powerUp" [ngValue]="a.id">{{a.name}}</option>
                </select>
            </div>

            <div class="col-xs-3 col-sm-auto">
                <label>Broken Runes</label>
                <select class="form-select" formControlName="brokenRunes">
                    <option [ngValue]="null" disabled>Select Broken runes</option>
                    <option *ngFor="let a of brokenRunes" [ngValue]="a.id">{{a.name}}</option>
                </select>
            </div>
            <div class="col-xs-3 col-sm-auto">
                <label>Gems/Grinds</label>
                <select class="form-select" formControlName="gemGrind">
                    <option [ngValue]="null" disabled>Select power up</option>
                    <option *ngFor="let a of gemGrind" [ngValue]="a.id">{{a.name}}</option>
                </select>
            </div>
        </div>



        <div class="mb-3 row">
            <h5>Preset Focus(+3/-3)</h5><br />
            +: Keep more<br />
            -: Sell more<br />
            <div class="col-xs-3 col-sm-auto">
                <label>Fast DD</label>
                <input class="form-number-input" type="number" id="FastDD" min="-3" max="3" formControlName="FastDD"
                    [value]="FastDD">
            </div>
            <div class="col-xs-3 col-sm-auto">
                <label>Slow DD</label>
                <input class="form-number-input" type="number" id="SlowDD" min="-3" max="3" formControlName="SlowDD"
                    [value]="SlowDD">
            </div>
            <div class="col-xs-3 col-sm-auto">
                <label>Def DD</label>
                <input class="form-number-input" type="number" id="DefDD" min="-3" max="3" formControlName="DefDD"
                    [value]="DefDD">
            </div>
            <div class="col-xs-3 col-sm-auto">
                <label>Bomber</label>
                <input class="form-number-input" type="number" id="Bomber" min="-3" max="3" formControlName="Bomber"
                    [value]="Bomber">
            </div>
            <div class="col-xs-3 col-sm-auto">
                <label>Support</label>
                <input class="form-number-input" type="number" id="Support" min="-3" max="3" formControlName="Support"
                    [value]="Support">
            </div>
            <div class="col-xs-3 col-sm-auto">
                <label>PvP Def</label>
                <input class="form-number-input" type="number" id="PvPDef" min="-3" max="3" formControlName="PvPDef"
                    [value]="PvPDef">
            </div>
            <div class="col-xs-3 col-sm-auto">
                <label>Bruiser</label>
                <input class="form-number-input" type="number" id="Bruiser" min="-3" max="3" formControlName="Bruiser"
                    [value]="Bruiser">
            </div>
        </div>




        <button class="btn btn-dark" type="submit">Save</button>

    </form>
</div>