:host {}

.file-input {
  display: none;
}

.column {
  float: left;
  width: 50%;
  text-align: left;
}

.row {
  margin-top: 20px;
  padding-left: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}