<div class="sw-container container">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
      </div>
      
      <button (click)="loadFile()" class="btn btn-dark">Parse</button>
      <button (click)="clear()" class="btn btn-dark">Clear runes</button>
      <button (click)="clean()" class="btn btn-dark">Reset everything to default</button>
      <div *ngIf="amount">{{amount}} runes imported</div>
    </div>
    <div class="col">
      Steps:
      <ul>
        <li>Adjust settings in Options tab</li>
        <li>Customize presets or use the default</li>
        <li>Find suggestion at runes tab</li>
      </ul>
    </div>
  </div>
</div>